<%- include('../cabecalho.ejs') %>
<form method="post" enctype="multipart/form-data">
    <br><br>
    ID<br>
    <input type="text" name="id" readonly value="<%=Peca._id%>">
    <br><br>
    Nome<br> 
    <input type="text" name="nome" placeholder="Digite o nome da peca." value="<%=Peca.nome%>">
    <br><br>
    Descricao<br>
    <input type="text" name="descricao" placeholder="Digite a descricao ." value="<%=Peca.descricao%>">
    <br><br>
    Fabricante<br>
    <input type="text" name="fabricante" placeholder="Digite o nome do fabricante." value="<%=Peca.fabricante%>">
    <br><br>
    codigo<br>
    <input type="text" name="cod" placeholder="Digite o codigo." value="<%=Peca.cod%>">
    <br><br>
    preco<br>
    <input type="number" name="preco" placeholder="Digite o preço." value="<%=Peca.preco%>">
    <br><br>
    

    <input type="submit" value="Adicionar">
</form>
<%- include('../rodape.ejs') %>